body{
  padding:0;
  margin:0;
  font-family: monaco !important;
}
body .container-fluid{
    margin: 0;
    padding: 0;
    background-color: #0B242C;

    /* background-color: #0B242C; */
    height: 100%;
    width: 100%;
    /* background-image: url(../img/logo-main.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin:border-box;
    font-family: monaco !important;

}
button,input,label,p,h1,h2,h3,h4,h5,h6,div,main,section,article,a,li,select{
  font-family: monaco !important;
}

.digital-font{
  font-family: orbitron !important;
}

.btn-theme{
  background:#018cd6;
  color:white;
}

.bg-theme{
  background:#018cd6;
  color:white;
}
/* .main-wrapper{
  display:none;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
.center {
  width: 400px;
  height: 400px;
}
.loader div {
  background-position: center;
  background-repeat: no-repeat; /* try to remove it, and watch effect xD */
  width: 400px;
  height: 400px;
  position: absolute;
}
.l0 {
  background-image: url(http://duchu.net/pens/futuristic_loader/0.png);
  background-size: 320px 320px;
}
.l1 {
  background-image: url(http://duchu.net/pens/futuristic_loader/1.png);
  background-size: 400px 400px;
}
.l2 {
  background-image: url(http://duchu.net/pens/futuristic_loader/2.png);
  background-size: 220px 220px;
}
.l3 {
  background-image: url(http://duchu.net/pens/futuristic_loader/3.png);
  background-size: 100px 100px;
  position: absolute;
  top: 0px !important;
  left: 0px !important;
}
.l4 {
  background-image: url(http://duchu.net/pens/futuristic_loader/4.png);
  background-size: 130px 130px;
  position: absolute;
  top: 0px !important;
  left: 0px !important;
}

.spin {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.scale {
  animation-name: scale;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: scale;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.reverse {
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
.alternate {
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

.duration1s {
  animation-duration: 100ms;
  -webkit-animation-duration: 100ms;
}
.duration2s {
  animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
}
.duration4s {
  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
}
.duration10s {
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
}
.duration20s {
  animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
}
.duration40s {
  animation-duration: 4000ms;
  -webkit-animation-duration: 4000ms;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  } to {
    -webkit-transform:rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform:scale(0.8);
  } to {
    transform:scale(1.0);
  }
}
@-webkit-keyframes scale {
  from {
    -webkit-transform:scale(0.8);
  } to {
    -webkit-transform:scale(1.0);
  }
}


body {
  overflow: hidden;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #0B242C;
  z-index: 99999999;
}

#preloader-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading-msg {
  width: 100%;
  font-size: 0.75em;
  color: #555;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #2489CE;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite ease;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#loading-msg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 25px;
  text-align: center;
  font-family: monaco;
  color: #333;
  font-size: 0.8em;
}

body {
  overflow: hidden;
}

