.container-fluid .row header{
    padding:2em;

}


div.wrapper {
    position: absolute;
    display: inline-block;
    height: 96%;
    margin: auto;
    width:96%;
    left:2%;
    top:2%;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: #018cd6;
   
}
div.wrapper0 {
    --aug-tl-width: 50%;
}

div.wrapper1 {
    --aug-bl: 25px;
    --aug-r-width: 33%;
    --aug-r-height: 10px;
}

div.wrapper2 {
    --aug-b-width: 65%;
    --aug-b-height: 10px;
}

.leftmenu{
    display: inline-block;
    width: 100%;
    height: 89vh;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: #018cd6;
    
}

.leftmenu .leftmenu_pad{
    margin-top:15%;
    --aug-tr-height: 30%;
    --aug-border-radius-fallback: 5px 0px 15px 0px;
    padding:2em;
}

.rightmenu{
    display: inline-block;
    width: 100%;
    height: 11vh;
    
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: #018cd6;
    
}

.rightmenu .rightmenu_pad{
    margin-top:15%;
    --aug-tr-height: 30%;
    --aug-border-radius-fallback: 5px 0px 15px 0px;
    padding:1em;
}

.rightmenu.rightmenu_pad p{
    color:white;
    font-weight: bold;
}


.centralheader{
    display: inline-block;
    width: 100%;
    height: 10vh;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: #018cd6;
    --aug-inset-bg: #018cd6;
}

.centralheader .centralheader_pad{
    margin-top:15%;
    --aug-tr-height: 30%;
    --aug-tl-width: 50%;
    --aug-border-radius-fallback: 5px 0px 15px 0px;
    padding:1em;
}



div.folder {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: gold;
   
}
div.folder0 {
    --aug-tl: 25px;
    --aug-tl-height: 50%;
}

div.folder1 {
    --aug-t: 10px;
    --aug-t-height: 33%;
}

div.folder2 {
    --aug-b-height: 10px;
    width:100%;
    margin:auto;
    margin-left: 0;
    height:77vh;
}

div.folder3 {
    --aug-r-height: 50%;
}

div.folder4 {
    --aug-tl: 25px;
    --aug-tl-height: 50%;
    --aug-border-bg: none;
    --aug-inset-bg: none;
    background: gold;
}

div.folder5 {
    --aug-t: 10px;
    --aug-t-height: 33%;
    --aug-border-bg: none;
    --aug-inset-bg: none;
    background: gold;
}

div.folder6 {
    --aug-b-height: 10px;
    --aug-border-bg: none;
    --aug-inset-bg: none;
    background: gold;
}

div.folder7 {
    --aug-r-height: 50%;
    --aug-border-bg: none;
    --aug-inset-bg: none;
    background: gold;
}