header #login_title{
    font-family: orbitron !important;
}

#central_container .row .col-4 .card-header{
    background-color: #0B242C;
    opacity: .6;

}
.fluid.field label a{
    color:#018cd6;
    text-decoration:underline;
}
#username,#password{
    border-radius: 0;
    font-family: monaco;
    background-color:rgba(0,0,0,0) !important;
    border:2px solid #018cd6;
    color:#fff;
 }

#central_container .row .col-md-10.col-lg-4 .login {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 10px;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-border-bg: #018cd6;
    --aug-inset-bg: #0B242C;


}
#central_container .row .col-md-10.col-lg-4 .login.login_pad {
    margin-top:15%;
    --aug-tr-height: 30%;
    --aug-border-radius-fallback: 5px 0px 15px 0px;
    padding:2em;
}

#loginBtn:hover{
    padding:.4em;
    font-size:20px;
}
#loginBtn{

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
/*
input:hover {
    --augmented-ui: l-clip r-clip exe;
    --aug-l: 10px; --aug-r: 10px;
}
.my-spliced-augs {
    --augmented-ui: tr-clip exe;
    --aug-br: 25px;
} */
